:root {
    --primary: #19183B;
    --secondary: #E7F2EF;
    --third: #A1C2BD;
    --grey: #708993;
    --darkgrey:#1b1b1b;
    --font-weight-primary: 900;
}

* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
  margin: 0;
  background: linear-gradient(135deg, var(--secondary) 0%, var(--darkgrey) 100%);
  color: var(--darkgrey);
  line-height: 1.6;
}
legend{
  font-size: 24px; 
  font-weight: bolder; 
  color: var(--primary);
  background-color: transparent;
  padding: 0 5px;
  margin-bottom: 3px; 
}
.navbar {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  background: var(--primary);
  border-radius: 2rem;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
  z-index: 1000;
}


.modal {
  display: none; 
  position: fixed;
  z-index: 2000; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgba(0,0,0,0.6); 
}

.fa-person-running {
 font-size: 2.5rem;
}
.login-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.picture-modal img{
  width: 50%;
  height: 100%;
}

.modal-content {
  background-color: white;
  margin: 10% auto;
  padding: 2rem;
  border-radius: 10px;
  width: 90%;
  max-width: 850px;
    max-height: 1000px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
  text-align: center;
  position: relative;
}

.modal .close {
  position: absolute;
  top: 10px;
  right: 15px;
  color: var(--darkgrey);
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.modal input[type="email"],
.modal input[type="password"] {
  width: 100%;
  padding: 0.7rem;
  margin: 0.5rem 0 1rem 0;
  border: 1px solid var(--grey);
  border-radius: 20px;
}

.modal label {
  display: block;
  text-align: left;
  font-weight: 600;
  margin-top: 1rem;
}


.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo img {
  height: 40px;
}

.logo-text {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--secondary);
}

.btn {
  padding: 0.6rem 1.5rem;
  border: none;
  border-radius: 0.75rem;
  font-weight: 600;
  font-size: 0.95rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-dark {
  background: var(--primary);
  color: var(--secondary);
  border: 2px solid var(--primary);
}

.btn-dark:hover {
  background: var(--third);
  color: var(--darkgrey);
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.login-buttons {
  display: flex;
  gap: 1rem;
}
.head-title{
    text-align: center;
    background-color: #19183B;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 1);
    width: 100%;
    height: 13rem;
    color: var(--secondary);
}
.head-title h1{
    position: relative;
    top: 50%;
    left: auto;
    margin: 0;
    font-size: 50px;

}
.signup-window {
    background: linear-gradient(135deg, var(--secondary) 0%, var(--darkgrey) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 3rem auto;
}

.signup-form {
     border-radius: 1rem;
    width: 100%;
    max-width: 600px;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}


form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
}

.input-div {
    gap: 0.5rem;
    transition: transform 0.3s ease;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    border-radius: 10px;
    background-color: var(--secondary);
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.input-div:hover {
  box-shadow: 0 0 10px var(--icon-color);
}
.submit{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px;
    transition: transform 0.3s ease;
    border-radius: 10px;
    background: transparent;
    width: 45%;
    margin-left: auto;
}

.signup-window .fa-solid {
  font-size: 3rem;
  margin-right: 0.5rem;
  vertical-align: middle;
  transition: color 0.3s;
  width: fit-content;
  align-self: center;
}


.signup-window .fa-solid:hover {
  color: #12112a;
}

 .fa-baseball{  color: rgb(71, 1, 1);
}
 .fa-basketball{  color: teal;
}
 .fa-football{  color: rgb(109, 109, 9);
}
 .fa-person-biking{   color: slateblue;
}
 .fa-volleyball{  color: rgb(63, 85, 20);
}
 .fa-table-tennis-paddle-ball{  color: rgb(68, 12, 68);
}
 .fa-bowling-ball{  color: rgb(26, 48, 66);
}
 .fa-golf-ball-tee{  color: rgb(57, 22, 22);
}
 .fa-person-running{  color: turquoise;
}

.input-div:hover {
  transform: translateY(-3px);
}

.birthdate-selects {
  display: flex;
  gap: 0.5rem;
}

.birthdate-selects select {
  padding: 0.4rem 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--secondary);
  font-size: 0.95rem;
  background-color: var(--secondary);
}
.input-div input,
select,
.input-div textarea {
  padding: 0.5rem;
  border: 1px solid var(--secondary);
  border-radius: 0.5rem;
  font-size: 0.95rem;
  transition: all 0.3s ease;

}

.input-div input:focus,
select:focus {
  border-color: var(--primary);
  box-shadow: 0 0 5px var(--primary);
  outline: none;
}

label {
  font-weight: 600;
  font-size: 0.95rem;
  color: var(--darkgrey);
    display: flex;
    align-items: center;
    gap: 1rem;
    width: max-content;
}

input[type="checkbox"],
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: none; 
}
input[type="text"],input[type="email"], textarea{
  width: 400px;
}

label[for="gender"], label[for="std_type"],label[for="status"]{
      gap: 4rem;
}

label[for="sports-select"] {
  font-weight: 600;
  font-size: 0.95rem;
  color: var(--darkgrey);
  display: flex;
  align-items: center;
  gap: 1rem;
  width: max-content;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 1rem;
}


label[for="volleyball"]:hover,
label[for="football"]:hover,
label[for="tennis"]:hover,
label[for="basketball"]:hover,
label[for="handball"]:hover,
label[for="karate"]:hover,
label[for="jiu-jitsu"]:hover,
label[for="table-tennis"]:hover,
label[for="taekewondo"]:hover,
label[for="badminton"]:hover,
label[for="gender1"]:hover,
label[for="gender0"]:hover,
label[for="status1"]:hover,
label[for="status0"]:hover,
label[for="std0"]:hover,
label[for="std1"]:hover,
label[for="competition0"]:hover,
label[for="competition1"]:hover {
  background-color: var(--grey);
  transform: translateY(-3px);
  cursor: pointer;
}


label[for="volleyball"],
label[for="football"],
label[for="tennis"],
label[for="basketball"],
label[for="handball"],
label[for="table-tennis"],
label[for="karate"],
label[for="jiu-jitsu"],
label[for="taekewondo"],
label[for="badminton"]
,label[for="gender1"],
label[for="gender0"],
label[for="status1"],
label[for="status0"],
label[for="std1"],
label[for="std0"],
label[for="competition0"],
label[for="competition1"]
 {
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  transition: background-color 0.3s, transform 0.2s, color 0.3s;
}


input[type="checkbox"]:checked + label,
input[type="radio"]:checked + label
 {
  background-color: var(--grey);
  color: var(--secondary);
}

input[type="button"]{
  font-size: 0.95rem;
  font-weight: 600;
  border: 2px solid #332e2f;
  border-radius: 50px;
  padding: 5px 10px; 
  cursor: pointer;
  background-color: #fffbf9;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  transition: all 0.3s ease;
}

input[type="button"]:hover{
  background-color: var(--darkgrey);
  color: var(--secondary);
  transform: translateY(-3px);

}
.gender-options, .sport-options, .height, .weight, .family-income
.exp-years, .std_type_options, .status-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.75rem;
}

.comp-options{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.75rem;
}

.gender-option, .sport-option, .comp-option, .std-option, .status-option {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.check, .radio {
  accent-color: var(--primary);
}



@media screen and (max-width: 500px) {
  .signup-form {
    width: 90%;
    padding: 2rem;
  }

  .gender-options, .sport-options, .comp-options, .std_type_options, .status-options {
    grid-template-columns: 1fr;
  }
}
